.home {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	display: grid;
  	grid-template-columns: repeat(12, 1fr);
  	column-gap: 20px;
  	padding-left: 24px;
  	padding-right: 24px;
  	grid-template-rows: repeat(auto-fill, 10px);
  	align-content: start;
  	text-align: left;
  	font-size: 150px;
  	color: #0d66c6;
  	font-family: Boldonse;
}
.cualquier-cosa {
  	position: absolute;
  	top: 320px;
  	left: -150px;
  	display: inline-block;
  	width: 1787px;
  	height: 190px;
  	flex-shrink: 0;
}
.cualquier-cosa2 {
  	position: absolute;
  	top: 560px;
  	left: 24px;
  	color: #7b2020;
  	display: inline-block;
  	width: 1392px;
  	height: 190px;
  	flex-shrink: 0;
}
.cualquier-cosa3 {
  	position: absolute;
  	top: 0px;
  	left: -295px;
  	font-size: 180px;
  	color: #000;
  	display: inline-block;
  	width: 2078px;
  	height: 230px;
  	flex-shrink: 0;
}

